{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "@next/next/no-img-element": 0,

    // Temporary
    "no-undef": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
